@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rancho&display=swap');

body{
    font-family: "Poppins", sans-serif;
    background-color: #F0F0D7;
}

nav{
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
    height: 48px;
    padding: 16px 0;
}

nav ul{
    display: flex;
    align-items: center;   
    list-style: none;
    gap: 10px;
}

nav ul li a{
    display: flex;
    align-items: center;
}

.container{
    max-width: 800px;
    min-height: 672px;
    margin: 30px auto;
    background-color: F0F0D7;
    box-shadow: 0px 16px 90px 0px #13073414;
    padding: 40px;
    position: relative;
    width: 100%;
}

.container .task{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task :first-child{
    font-weight: 500;
    color: #727D73;
    letter-spacing: 1px;
    font-size: 16px;
}

.task :nth-child(2){
    font-weight: 500;
    font-size: 24px;
    color: #293038;
}

.task :last-child{
    font-weight: 400;
    font-size: 16px;
    color: #7A7F83;
}

.todo .btn-tambah-tugas{
    margin-top: 70px;
}

.todo .btn-tambah-tugas button{
    display: flex;
    background-color: #727D73;
    color: white;
    border-radius: 60px;
    padding: 12px 15px;
    align-items: center;
    border: none;
    gap: 8px;
    max-width: 100%;
}

.btn-tambah-tugas span{
    font-weight: 600;
    font-size: 16px;
}

.container .todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-2{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}

.container-2 :first-child{
    font-size: 16px;
    font-weight: 500;
    color: #7A7F83;
}

.container-2 .btn{
    border-radius: 50px;
    border: 1px solid  #727D73;
    padding: 10px 14px;
    display: flex;
    align-items: center;
    background-color: white;
    max-width: 100%;
}

.container-2 .btn span{
    font-weight: 600;
    font-size: 14px;
    color: #727D73;
}

.container-2 .btn img{
    width: 24px;
    height: 24px;
    filter: brightness(100) saturate(100%) invert(99%) sepia(6%) saturate(1305%) hue-rotate(326deg) brightness(100%) contrast(93%);
    
}

.task-checkbox {
margin-top: 16px;
display: flex;
align-items: center;
gap: 10px;
}

.task-checkbox .arrow{
margin-left: auto;  
flex-shrink: 0;      
width: 24px;         
height: 24px;
object-fit: contain;
}


.task-checkbox .task-container-product{
margin-top: 29px;
}

.task-checkbox-name .task-checkbox-label{
cursor: pointer;
font-size: 18px;
font-weight: 500;
color: #293028;
}

.task-checkbox-name .badge{
margin-left: 16px;
padding: 8px 12px;
font-size: 12px;
font-weight: 500;
color:  #727D73;
background-color: white;
border-radius: 50px;
max-width: 100%;
display: inline-block;
}

.task-checkbox .note{
font-size: 14px;
font-weight: 400;
color: #7a7f83;
margin-top: 10px;
}

.task-checkbox .checkbox {
width: 28px;
height: 28px;
border: 1px solid #ccced2;
border-radius: 100%;
cursor: pointer;
flex-shrink: 0;
display: flex;
justify-content: center;
align-items: center;
}
 

input[type="checkbox"] {
display: none;
}

 input[type="checkbox"]:checked + .checkbox {
background-color: black;
border-color: black;
}

 input[type="checkbox"]:checked + .checkbox span {
width: 18px; 
height: 18px;
background-color: white;
-webkit-mask: url(/assets/Vector.png) no-repeat center / contain;
mask: url(/assets/Vector.png) no-repeat center / contain;
}




.task-checkbox-2{
    display: flex;
    margin-top: 16px;
    align-items: center;
    gap: 10px;
}

.task-checkbox-2 .arrow-2{
    margin-left: auto;
    flex-shrink: 0;      
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.task-container-product-2{
    margin-top: 16px;
}

.task-checkbox-name-2 .task-checkbox-label-2{
    font-weight: 500;
    font-size: 18px;
    color: #293038;
    cursor: pointer;
}

.task-checkbox-name-2 .badge-2{
    border-radius: 50px;
    margin-left: 16px;
    font-size: 12px;
    color:  #727D73;
    background-color:  white;
    padding: 8px 12px;
}

.task-checkbox-2 .checkbox {
    width: 28px;
    height: 28px;
    border: 1px solid #ccced2;
    border-radius: 100%;
    cursor: pointer;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-checkbox-3{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 16px;
}

.task-checkbox-3 .arrow-3{
    margin-left: auto;
    flex-shrink: 0;      
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.task-container-product-3{
    margin-top: 16px;
}

.task-checkbox-name-3{
    padding-top: 5px;
}

.task-checkbox-name-3 .task-checkbox-label-3{
    font-size: 18px;
    font-weight: 500;
    color: #293038;
}

.task-checkbox-name-3 .badge-3{
    border-radius: 50px;
    padding: 8px 12px;
    background-color: white;
    color: #727D73;
    font-size: 12px;
    margin-left: 16px;
}

.task-checkbox-3 .checkbox {
    width: 28px;
    height: 28px;
    border: 1px solid #ccced2;
    border-radius: 100%;
    cursor: pointer;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    width: calc(100% - 80px);
    position: absolute;
    bottom: 24px;
    font-size: 18px;
    font-weight: 500;
    color: #7A7F83;
}

.line{
    display: flex;
    align-items: center;
    margin-top: 24px;
    height: 50px;
    border-top: 1px solid black;
}

@media (max-width: 768px) {
   
    nav{
        padding: 10px 0;
        max-width: 100%;
    }
    nav img{
        max-width: 170px;
        height: auto;
        margin-right: 10px;
    }
    nav ul .notif{
        margin-right: 5px;
    }
    .container{
        max-width: 500px;
        width: 100%;
        margin-top: 25px;
        padding: 20px;
        box-shadow: 0px 10px 10px 0px #13073414;
    }
    .todo .btn-tambah-tugas button{
        padding: 12px 14px;
    }
    .btn-tambah-tugas button img{
        width: 20px;
    }
    .btn-tambah-tugas button span{
        font-size: 14px;
    }
    .container-2 .btn span{
        font-size: 13px;
    }
    .container-2 .btn img{
        width: 19px;
        height: 19px;
    }
    .container-2 .btn{
        padding: 8px 12px;
    }
    .container .todo{
        flex-direction: column;
        align-items: flex-start;
    }

    .task-checkbox, .task-checkbox-2 , .task-checkbox-3{
        margin-top: 20px;
        margin-left: 0;
    }
    .task-checkbox-name .badge , .task-checkbox-name-2 .badge-2 , .task-checkbox-name-3 .badge-3{
        display: block; 
        margin-left: 0;  
        margin-top: 6px;  
        border-radius: 6px;  
        padding: 4px 8px; 
        max-width: fit-content;
        }
    .footer{
        width: calc(100% - 40px);     
        font-size: 15px;
        bottom: 50px;
    }
}
@media (max-width: 668px) {

    * {
        box-sizing: border-box;
    }
    .nav img{
        max-width: 150px;
    }
    .krozeo{
        display: none;
    }
    .container{
        padding: 15px;
        box-shadow:0px 0px 0px 0px;
    }
    .todo .btn-tambah-tugas button{
        padding: 12px 90px;
    } 
    .task-checkbox-name .badge , .task-checkbox-name-2 .badge-2 , .task-checkbox-name-3 .badge-3{
    display: block; 
    margin-left: 5px;  
    margin-top: 6px;  
    border-radius: 6px;  
    padding: 4px 8px; 
    max-width: fit-content;
    }
    .footer{
        width: calc(100% - 30px);
        bottom: 0;
        height: 20px;
    }
}